.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;

    > main {
        flex: 1;
    }

    .page-width {
        min-width: $breakpoint-small--min;
        max-width: $breakpoint-large--max;
        width: 100%;
        margin: 0 auto;
    }
}
